@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins");

@media (prefers-color-scheme: dark) {
}

body {
  /* font-family: "Poppins", sans-serif !important; */
  margin: 0;
  padding: 0;
  color: #515151;
}
