@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins");

@media (prefers-color-scheme: dark) {
}

body {
  /* font-family: "Poppins", sans-serif !important; */
  margin: 0;
  padding: 0;
  color: #515151;
}
input[type="text"]:not(:placeholder-shown) ~ label,
input[type="text"]:focus ~ label {
  @apply top-[-10px] scale-75 left-0;
}
